@import 'breakpoints';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$primary-color: #fff;
$secondary-color: #140C1B;
$babs-color: #7B4A9B;
$container-color: #7B4A9B1A;
$box-color: #FAF4FE;
$paragraph-color: rgba(20, 12, 27, 0.8);
$btn-group: rgba(123, 74, 155, 0.25);
$content-color: #FAF4FE;
$footer-color: rgba(20, 12, 27, 0.1);

:root {
    --primary-color: $($primary-color);
    --secondary-color: $($secondary-color);
    --babs-color: $($babs-color);
    --container-color: $($container-color);
    --box-color: $($box-color);
    --paragraph-color: $($paragraph-color);
    --btn-group: $($btn-group);
    --content-color: $($content-color);
    --footer-color: $($footer-color);
    --footer-p: $($footer-p);
}

.dark-theme {
    --primary-color: #190f1f;
    --secondary-color: #fff;
    --babs-color: #7B4A9B;
    --paragraph-color: rgba(229, 219, 235, 0.8);
    --content-color: rgba(123, 74, 155, 0.2);
    --footer-color: #140C1B;
    --footer-p: rgba(229, 219, 235, 0.7);

    .toggle {
        .fa-sun {
            color: #140C1B;
        }
        .ball {
            background-color: #fff;
            transform: translateX(30px);
        }
    
    }
}

body {
    width: 100%;
    margin: 0 auto;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;

    .hero {
        margin-left: 113px;
        margin-right: 120px;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                width: 59px;
                height: 21.26;
                margin-top: 35px;
            }

            input {
                display: none;
            }

            .toggle {
                cursor: pointer;
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 60px;
                height: 30px;
                border-radius: 50px;
                background: rgba(123, 74, 155, 0.1);
                transition: .2s;
                top: 12px;

                i {
                    width: 50%;
                    line-height: 30px;
                    text-align: center;
                    font-size: 10px;
                    z-index: 1;
                }

                .fa-moon {
                    color: #fff;
                }

                .fa-sun {
                    color: #fff;
                }

                .ball {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background: #140C1B;
                    margin: 5px;
                    border-radius: 50%;
                    transition: .3s ease-out;
                }

            }
        }
    }

    .container {
        display: flex;
        margin-left: 120px;
        margin-right: 120px;
        margin-top: 32px;
        background: $container-color;
        border-radius: 32px;
        height: 654px;
        gap: 50px;

        .info {
            margin-top: 164px;
            margin-left: 92px;

            h1 {
                width: 385px;
                // width: 100%;
                font-weight: 700;
                font-size: 32px;
                line-height: 44px;
            }

            p {
                margin-top: 28px;
                margin-bottom: 20px;
                width: 416px;
                // width: 100%;
                font-weight: 500;
                font-size: 16px;
                line-height: 32px;
            }

            button {
                width: 164px;
                height: 48px;
                background: #7B4A9B;
                color: #fff;
                padding: 10px 20px 10px 20px;
                border-radius: 4px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                line-height: 28px;
                gap: 10px;
                cursor: pointer;
            }
        }

        .info-images {
            .info1 {
                margin-top: 93px;

                img {
                    width: 100%;
                }
            }

            .info2 {
                display: none;
            }
            }
    }

    .scrolling {
        position: relative;
        width: 100%;
        height: 63px;
        overflow: hidden;
        margin-top: 36px;

        .text-scrolling {
            font-family: 'Mohave', sans-serif;
            position: absolute;
            color: rgba(123, 74, 155, 0.3);
            font-size: 45px;
            line-height: 62.69px;
            font-weight: 700;
            text-align: center;
            white-space: nowrap;
            transition: all 1s ease;
            animation: scrolling 40s linear infinite;
        }

        @keyframes scrolling {
            from {
                transform: translateX(0%);
            }

            to {
                transform: translateX(-50%);
            }
        }
    }

    .m-collection {
        text-align: center;
        margin-top: 20px;

        h2 {
            margin-bottom: 8px;
            font-size: 24px;
            line-height: 44px;
            font-weight: 700;
            color: var(--secondary-color);
        }
        p {
            margin-bottom: 12px;
            font-size: 16px;
            line-height: 32px;
            font-weight: 500;
            color: var(--secondary-color);
        }
    }

    .f-details {
        margin-left: 120px;
        margin-right: 117px;
        // margin-right: 60px;
        margin-top: 72px;
        background: $container-color;
        // height: 277px;
        border-radius: 32px;

        h2 {
            padding-top: 48px;
            text-align: center;
            font-size: 20px;
            line-height: 36px;
            font-weight: 700;
            color: var(--secondary-color);
        }

        .details {
            display: flex;
            // align-items: center;
            margin-left: 61px;
            margin-right: 61px;
            padding-top: 32px;
            padding-bottom: 64px;
            align-items: baseline;
            gap: 55px;

            .details1 {
                // width: 229px;
                // margin-right: 55px;
                flex: 1;
                
            }
            
            .details2 {
                // width: 229px;
                // margin-right: 55px;
                flex: 1;
            }
    
            .details3 {
                // width: 229px;
                // margin-right: 55px;
                flex: 1;
                
            }

            .details4 {
                // width: 229px;
                flex: 1;
                
            }
    
            
    
            p {
                font-size: 16px;
                line-height: 32px;
                font-weight: 500;
                width: 273px;
                color: var(--secondary-color);

                span {
                    font-size: 22px;
                    line-height: 32px;
                    font-weight: 600;
                    color: #7B4A9B;
                }
            }

        }


    }

    .about {
        margin-left: 156px;

        .d-flex {
            display: flex;
            gap: 80px;

            img {
                height: 463px;
                width: 463px;
                border-radius: 32px;
                margin-top: 72px;

            }

            .r-flex {
                margin-top: 112px;

                p {
                    font-size: 16px;
                    line-height: 32px;
                    font-weight: 500;
                    color: $babs-color;
                    margin-bottom: 16px;
                }

                h1 {
                    font-size: 24px;
                    line-height: 44px;
                    font-weight: 700;
                    color: var(--secondary-color);
                    margin-bottom: 8px;
                }

                .bio {
                    font-size: 16px;
                    line-height: 32px;
                    font-weight: 500;
                    color: var(--paragraph-color);
                    margin-bottom: 32px;
                    width: 573px;
                }

                .btn {
                    width: 138px;
                    height: 48px;
                    background: #7B4A9B;
                    color: #fff;
                    padding: 10px 20px 10px 20px;
                    border-radius: 4px;
                    font-size: 16px;
                    font-weight: 500;
                    border: none;
                    line-height: 28px;
                    gap: 10px;
                    cursor: pointer;
                }

                .social-icons{
                    display: flex;
                    align-items: center;
                    padding-left: 0px;
                    gap: 23.62px;

                    a {

                        i  {
                            border: 1px solid #7B4A9B;
                            list-style: none;
                            border-radius: 50%;
                            height: 31.62px;
                            color: #7B4A9B;
                            margin-top: 32px;
                            padding-top: 7px;
                            text-align: center;
                            width: 31.62px;
                        }
                    }

                }
            }
        }
    }

    .lorem {
        font-family: 'Inter', sans-serif;

            .lorem-ipsum {
                text-align: center;
                margin-top: 72px;

                h1 {
                    font-size: 24px;
                    line-height: 44px;
                    font-weight: 700;
                    color: var(--secondary-color);
                }

                p {
                    font-size: 16px;
                    line-height: 32px;
                    font-weight: 500;
                    color: var(--paragraph-color);
                }
            }
            
            .achievement, .achievement1, .achievement2, .achievement3, .achievement4 {
                display: flex;
                gap: 132px;
                margin-top: 85.5px;
                margin-left: 138px;
                margin-right: 138px;
                
                .right-text {
                    width: 621px;
                    
                    h1 {
                        font-size: 24px;
                        line-height: 44px;
                        font-weight: 700;
                        color: var(--secondary-color);
                    }
                    
                    li {
                        font-size: 16px;
                        line-height: 32px;
                        font-weight: 500;
                        color: var(--paragraph-color);
                    }
                }
                .border {
                    display: flex;
                    position: relative;
                    gap: 99px;
                    
                    .border-left {
                        width: 156px;
                        height: 221px;
                        border-radius: 100px 0 0 100px;
                        background-color: rgba(123, 74, 155, 0.3);
                    }
                    
                    h1 {
                        color: rgba(123, 74, 155, 0.8);
                        position: absolute;
                        left: 8rem;
                        top: 4rem;
                        font-size: 58.98px;
                        font-weight: 700;
                        line-height: 103.06px;
                    }
                    
                    .a-year {
                        left: 6rem;
                    }
                    
                    .border-right {
                        width: 156px;
                        height: 221px;
                        border-radius: 0 100px 100px 0;
                        background-color: rgba(123, 74, 155, 0.3);
                    }
            }

        }
    
    } 
    .content {
        height: 490px;
        margin-top: 126px;
        margin-left: 118.5px;
        margin-right: 118.5px;
        background: $container-color;
        border-radius: 32px;

        .m-content {
            text-align: center;

            h1 {
                padding-top: 58px;
                padding-bottom: 8px;
                font-size: 24px;
                font-weight: 700;
                line-height: 44px;
                color: var(--secondary-color);
            }

            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 32px;
                color: var(--paragraph-color);
                margin-bottom: 32px;
            }
        }

        .m-flex {
            display: flex;
            gap: 43px;

            .m-10, .m-11 {
                margin-left: 96.5px;

                div {
                    color: var(--paragraph-color);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 32px;
                    display: flex;
                    gap: 16px;
                    margin-bottom: 28px;

                    i {
                        // background: #D9D9D9;
                        background-color: $container-color;
                        color: $babs-color;
                        width: 30px;
                        font-size: 17px;
                        height: 30px;
                        margin-top: 4px;
                        padding: 6px;
                        border-radius: 50%;
                    }
                }
            }

            .m-11 {
                margin-right: 93.5px;
                margin-left: 0;
            }
        }

    }

    footer {
        margin-top: 96px;
        // background: var(--footer-color);
        background-color: $footer-color;
        // height: 447px;
        text-align: center;

        .footer-wrapper {
            padding-top: 88px;
            text-align: -webkit-center;

            h1 {
                width: 1037px;
                font-size: 40px;
                font-weight: 700;
                line-height: 52px;
                color: var(--secondary-color);
            }

            p {
                margin-top: 28px;
                font-size: 20px;
                font-weight: 700;
                line-height: 32px;
                color: var(--paragraph-color);
            }
        }

        .btn-group {
            margin-top: 20px;

            button {
                background: $btn-group;
                color: $babs-color;
                width: 285px;
                height: 56px;
                padding: 6px 24px 6px 24px;
                border-radius: 200px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                line-height: 44px;

            }
        }

        .footer-p {
            margin-top: 39px;
            padding-bottom: 24px;
            font-size: 16px;
            font-weight: 500;
            line-height: 32px;
            color: var(--footer-p);
        }
    }
    
}

@include md {
    body {
        
            .hero {
                margin-left: 25px;
                margin-right: 24px;
                nav {
        
                    h1 {
                        margin-top: 20px;
                    }

                    .toggle {
                        top: 12px;
                    }
                }
            }

            .container {
                display: block;
                margin-left: 25px;
                margin-right: 24px;
                margin-top: 20px;
                border-radius: 20px;
                height: 889px;
        
                .info {
                    text-align: center;
                    margin-top: 20px;
                    margin-left: 0;
        
                    h1 {
                        margin-left: 52px;
                        margin-right: 51px;
                        width: 278px;
                        font-size: 24px;
                        padding-top: 64px;
                    }
        
                    p {
                        margin-left: 41px;
                        margin-right: 40px;
                        margin-top: 28px;
                        margin-bottom: 28px;
                        width: 300px;
                    }
        
                }

                .info-images {
                    .info1 {
                        display: none;
                    }
                    .info2 {
                        display: block;
                        margin-top: 54.5px;
                        margin-left: 41px;
                        margin-right: 40px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
            
            .m-collection {
                margin-left: 25px;
                margin-right: 24px;
                
                h2 {
                font-size: 20px;
                line-height: 40px;
            }
            p {
                margin-bottom: 16px;
            }

            .details-video {
                width: 325px;
            }
        }

        .f-details {
            margin-left: 25px;
            margin-right: 24px;
            margin-top: 40px;
            height: 644px;
            border-radius: 20px;

            h2 {
                padding-top: 64px;
            }
            
            .details {
                display: block;
                height: 590px;
                margin-left: 41px;
                margin-right: 40px;
                padding-top: 12px;
                padding-bottom: 64px;
                
                .details1 {
                    margin-bottom: 20px;
                }
                
                .details2 {
                    margin-bottom: 20px;
                }
                
                .details3 {
                    margin-bottom: 20px;
                }

                .details4 {
                    margin-bottom: 20px;
                }
        
                // p {
                //     margin-bottom: 48px;
                //     width: 250px;
                //     height: 96px;
                // }

            }

        }

        .about {
            margin-left: 25px;
            margin-right: 24px;
            
            .d-flex {
                display: block;
                gap: 0px;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 20px;
                    margin-top: 40px;

                }
                
                .r-flex {
                    text-align: center;
                    margin-top: 40px;
                    
                    p {
                        margin-bottom: 20px;
                    }
                    
                    h1 {
                        font-size: 20px;
                        line-height: 40px;
                        margin-bottom: 12px;
                    }
                    
                    .bio {
                        margin-bottom: 36px;
                        width: 100%;
                    }
                    
                    .social-icons{
                        justify-content: center;
                        a {
                            
                            i  {
                                margin-top: 36px;
                            }
                        }

                    }
                }
            }
        }

        .lorem {
            margin-left: 25px;
            margin-right: 24px;
            .lorem-ipsum {
                text-align: center;
                margin-top: 48.38px;
    
                h1 {
                    font-size: 20px;
                    line-height: 40px;
                }
            }

                .achievement, .achievement1, .achievement2, .achievement3, .achievement4 {
                    display: block;
                    gap: 0px;
                    margin-top: 45.2px;
                    margin-left: 0px;
                    margin-right: 0px;
                    
                    .right-text {
                        width: 100%;
                        
                        h1 {
                            font-size: 16px;
                            line-height: 32px;
                            margin-top: 20.4px;
                            margin-bottom: 8px;
                            text-align: center;
                        }
                        
                        li {
                            font-size: 16px;
                            line-height: 32px;
                            font-weight: 500;
                            color: var(--paragraph-color);
                        }
                    }
                    .border {
                        align-self: center;
                        gap: 54.92px;
                        justify-content: center;
                        
                        .border-left {
                            width: 86.54px;
                            height: 122.6px;
                            border-radius: 55.47px 0 0 55.47px;
                        }
                        
                        h1 {
                            font-size: 32.81px;
                            line-height: 57.42px;
                            left: 4.5rem;
                            top: 33px;
                        }
                        
                        .a-year {
                            font-size: 32.67px;
                            line-height: 57.17px;
                            left: 6.2rem;
                        }
                        
                        .border-right {
                            width: 86.54px;
                            height: 122.6px;
                            border-radius: 0 55.47px 55.47px 0;
                        }
                }

            }
            .achievement1 {
                    display: flex;
                    flex-direction: column-reverse;
            }

            .achievement2, .achievement4 {
                .border {
                    h1 {
                        left: 8.5rem;
                    }
                }
            }

            .achievement3 {
                display: flex;
                flex-direction: column-reverse;
            }

        }

        .content {
            height: 100%;
            margin-top: 40px;
            margin-left: 24px;
            margin-right: 25px;
            border-radius: 20px;
    
            .m-content {
                text-align: center;
    
                h1 {
                    padding-top: 40px;
                    font-size: 18px;
                    line-height: 36px;
                }
    
                p {
                    margin-bottom: 70px;
                    margin-left: 29px;
                    margin-right: 30px;
                }
            }
    
            .m-flex {
                display: block;
                gap: 0px;
    
                .m-10, .m-11 {
                    margin-left: 40px;
    
                    div {
                        width: 260px;
                        gap: 26px;
                        margin-bottom: 0px;
                        padding-bottom: 36px;
    
                        p {
                            width: 40px;
                            height: 10px;
                            margin-top: 9px;
                        }
                    }
                }
    
                // .m-11 {
                //     margin-right: 94px;
                //     margin-left: 0;
                // }
            }
    
        }


        footer {
            height: 100%;
            text-align: center;
    
            .footer-wrapper {
                padding-top: 48px;
                text-align: -webkit-center;
    
                h1 {
                    width: 380px;
                    font-size: 28px;
                    line-height: 44px;
                }
    
                p {
                    margin-left: 25px;
                    margin-right: 24px;
                    margin-top: 12px;
                    font-size: 16px;
                    line-height: 32px;
                }
            }
    
            .btn-group {
                margin-top: 28px;
                display: block;
                margin-left: 19px;
                margin-right: 27px;

                .mobile-btn {
                    gap: 8px;
                    margin-bottom: 8px;
                }
    
                button {
                    width: 243px;
                    height: 40px;
                    padding: 6px 18px 6px 18px;
                    border-radius: 200px;
                    font-size: 14px;
                    border: none;
                    line-height: 28px;
    
                }

                .btn-last {
                    display: block;
                    margin-left: 5.3rem;
                }
            }
    
            .footer-p {
                margin-top: 50px;
                padding-bottom: 13px;
                font-size: 14px;
            }
        }
    }
}

@include sm {
    body {
        

            .container {
        
                .info {
        
                    h1 {
                        margin-left: 30px;
                        margin-right: 31px;
                    }
        
                    p {
                        margin-left: 12px;
                        margin-right: 11px;
                    }
        
                }

            }    


        footer {

            .footer-wrapper {

                h1 {
                    width: 350px;
                }
            }
        }
    }
}

@include lg {
    
}

@include xl {

}